package main

// New{{ .Name | Service}}Handler returns an HTTP handler that serves the gRPC gateway
func New{{ .Name | Service }}Handler(ctx context.Context, grpcAddr string, opts ...runtime.ServeMuxOption) (http.Handler, error) {
	mux := runtime.NewServeMux(opts...)
	dialOpts := []grpc.DialOption{grpc.WithInsecure()}
	err := pb.Register{{ .Name | Service }}HandlerFromEndpoint(ctx, mux, grpcAddr, dialOpts)
	if err != nil {
		return nil, err
	}
	return mux, nil
}
